body.agentbot #agentbot-chat-main .agentbot-complement .agentbot-form-plan-message-container {
    display: none;
    color: #FFF;
    font-size: 11px;
    line-height: 24px;
}
body.agentbot #agentbot-chat-main .agentbot-complement.info .agentbot-form-lastrecharge-message-container {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #A8A8A8;
    font-weight: 600;
    text-align: center;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 3px 3px;
    /*background: linear-gradient(90deg, #A8A8A8, #505050 100%);
    transition: background 1s ease-out;*/
}
/* Loading */
body.agentbot #agentbot-chat-main .agentbot-form-loading {
    animation: formLoading 1.1s infinite linear;
}
@keyframes formLoading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
body.agentbot #agentbot-chat-main .agentbot-form-lastrecharge-loading-blur {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
body.agentbot #agentbot-chat-main .agentbot-form-lastrecharge-loading-blur:before {
    filter: blur(5px);
}
body.agentbot #agentbot-chat-main .agentbot-form-lastrecharge-loading-container {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255,255, 0.8);
    border-radius: 4px;
}
body.agentbot #agentbot-chat-main .agentbot-form-lastrecharge-loading {
    margin: 35% auto;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border-width: 0.5em;
    border-style: solid;
    transform: translateZ(0px);
    border-color: rgba(100, 100, 100, 0.5) rgba(100, 100, 100, 0.5) rgba(100, 100, 100, 0.5) #E3E3E3;
}
body.agentbot #agentbot-chat-main .agentbot-form-lastrecharge-nikko {
    display: none;
    position: absolute;
    top: 18px;
    right: -43px;
    background: url(../image/nikko-wire.png);
    width: 84px;
    height: 90px;
    z-index: 1;
}
body.agentbot #agentbot-chat-main .agentbot-form-button-retry,
body.agentbot #agentbot-chat-main .agentbot-form-lastrecharge-retry {
    width: 87px;
    height: 26px;
    background: #005c87;
    background: linear-gradient(180deg, #6CC0D4 0px, #006B97 1px, #005C87 2px, #004573 calc(100% - 2px), #B5CDD9 calc(100% - 1px));
    color: #FFF;
    text-align: center;
    font-weight: 700;
    border-radius: 4px;
    font-size: 11px;
    line-height: 24px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0px;
    display: inline-block;
    display: none;
}
body.agentbot #agentbot-chat-conversation .message.agent.timeout .agent {
    max-width: 195px;
}
body.agentbot #agentbot-chat-conversation .message.agent.timeout .agentbot-complement {
    text-align: center;
}
body.agentbot #agentbot-chat-conversation .message.agent.timeout .agentbot-form-lastrecharge-input-container,
body.agentbot #agentbot-chat-conversation .message.agent.timeout .agentbot-form-lastrecharge-button-container {
    display: none;
}
